<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About | Weather App</title>
        <link rel='icon' href='/img/weather.png' />
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>    
    <div class="main-content">
        {{>header}}    
        <img class="portrait" src="../img/cat.jpeg" />
    </div>

    {{>footer}}
</body>
</html>